:root{
    --lightpink: rgba(255, 144, 14, 0.1);
    --black: #131313;
    --ash: #727272;
    --white: #FFFFFF;
    --yellow: #FF900E;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&family=Roboto:wght@100&family=Work+Sans:wght@700&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}

/* Common styles */
.primary-btn{
    color: var(--white);
    background-color: var(--yellow);
    font-size: 20px;
    border: 0;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

/* Header */
header{
    background-color: var(--lightpink);
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding: 40px 0;
}
.header-section h3{
    font-size: 45px;
    color: #131313;
}
.header-section ul{
    font-size: 18px;
    color: #424242;
}

ul{
    display: flex;
    gap: 20px;
}

li{
    list-style: none;
}

.header-info{
    margin: 0 380px;
}
.header-title{
    font-size: 40px;
    color: var(--black);
    text-align: center;
    padding: 10px 0;
}
.header-description{
    font-size: 16px;
    text-align: center;
    color: var(--ash);
    
}
.header-btn{
    text-align: center;
    padding: 10px 0;
}
.banner-img{
    text-align: center;
}
.banner-img img{
    width: 1000px;
    height: 550px;
    align-items: center;
    margin: 50px 150px;
}
/* Header section end */

/* main section start */
/* section-1 start */
.section-1{
    margin: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
}

.section-1-images img{
    width: 100%;
}

.section-1-info{
    margin-left: 50px;
}

.section-1-info-title{
    font-size: 42px;
}

.section-1-info-description{
    font-size: 16px;
    color: var(--ash);
    margin: 30px 0;
}
/* section-1 end */

/* section-2 start */
.section-2{
    margin: 50px 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
}

.section-2-sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-2-sidebar{
    border-left: 5px solid var(--yellow);
    height: 100px;
    padding-right: 5px;
}   

.section-2-title{
    font-size: 40px;
}
.section-2-title{
    color: var(--black);
    font-size: 40px;
}
.section-2-description{
    color: var(--ash);
    font-weight: 400;
    font-size: 16px;
    padding: 20px 20px 20px 0;
}
.section-2-sub-title{
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
    padding: 20px;
}
.section-2-sub-title-description{
    color: var(--ash);
    font-weight: 400;
    font-size: 16px;
    padding: 0 20px 20px 20px;
}

.section-2 img{
    width: 450px;
    height: 670px;
}

.section-2-btn-position{
    position: relative;
    bottom: 50px;
    right:50px;
}

.section-2-btn{
    color: var(--white);
    background-color: var(--yellow);
    font-size: 20px;
    border: 0;
    width: 200px;
    height: 100px;
    border-radius: 7px;
    text-align: center;
    padding-top: 20px;
}
/* section-2-end */

/* section-3-start */
.section-3{
    margin: 50px 200px;
}
.section-3-title{
    color: var(--black);
    font-size: 40px;
}
.section-3-description{
    color: var(--ash);
    font-weight: 400;
    font-size: 16px;
    padding: 10px 500px 80px 0;
}
.section-3-boxes{
    display: flex;
    justify-content: space-between;
}
.box{
    width: 180px;
    height: 180px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: width 1s, height 1s;
}
.box:hover{
    width: 210px;
    height: 210px;
    border: 2px solid red;
}
.box-content{
    text-align: center;
    padding-top: 35px;
}
.box-content-title{
    font-size: 45px;
    color: #424242;
}
.box-content-description{
    color: var(--ash);
    font-size: 20px;
}
/* section 3 end */

/* section 4 start */
.section-4{
    margin: 50px 200px;
}
.section-4-text{
    padding: 20px 250px;
    text-align: center;
    margin: 0 auto;
}
.section-4-text-title{
    color: var(--black);
    font-size: 40px;
    font-weight: 700;
}
.section-4-text-description{
    color: var(--ash);
    font-weight: 400;
    font-size: 16px;
    padding: 17px 0;
}
.section-4-icons{
    display: flex;
    justify-content: space-between;
}
.icon{
    filter: grayscale(1);
}
/* section 4 end */

/* footer start */
.footer{
    background-color: var(--lightpink);
    margin: 100px 200px;
    height: 80px;
}
.footer-text{
    font-weight: 400;
    font-size: 18px;
    color: #424242;
    text-align: center;
    padding-top: 30px;
}
/* footer end */

/* Responsive Layout */
@media only screen and (max-width:576px) {
    .header-section{
        display: flex;
        flex-direction: column;
        margin: 0 50px;
        padding: 40px 0;
    }
    .header-section h3{
        font-size: 35px;
        padding-bottom: 30px;
    }
    .header-section ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-info{
        margin: 0 50px;
    }
    .header-title{
        font-size: 30px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    /* section 1 start */
    .section-1{
        margin: 50px 50px;
        display: flex;
        flex-direction: column;
    }
    .section-1-images{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 100%;
    }
    /* section-1 end */

    /* section-2 start */
    .section-2{
        margin: 50px 40px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 50px;
    }
    .section-2-sidebar-title, .section-2-description{
        width: 380px;
    }
    .section-2-title{
        font-size: 35px;
        width: 100%;
        padding-right: 50px;
    }
    .section-2-sub-title, 
    .section-2-sub-title-description{
        width: 370px;
        padding-right: 50px;
    }
    .section-2 img{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-right: 60px;
    }
    .section-2-btn{
        display: none;
    }
    /* section-2-end */

    /* section-3-start */
    .section-3{
        margin: 50px 50px;
    }
    .section-3-description{
        padding: 10px 50px 80px 0;
    }
    .section-3-boxes{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    /* section 3 end */

    /* section 4 start */
    .section-4{
        margin: 0px 0px;
    }
    .section-4-text{
        padding: 20px 50px;
        text-align: center;
        margin: 0 auto;
    }
    .section-4-icons{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    /* section 4 end */

    /* footer start */
    .footer{
        margin: 50px;
        height: 80px;
    }
    .footer-text{
        font-size: 16px;
        text-align: center;
        padding-top: 20px;
    }
    /* footer end */


}